serverless.yml
service: palpiteiro
frameworkVersion: "3"
params:
  main:
    cartola-bucket: cartola-main
    deployment-bucket: palpiteiro-main
  dev:
    cartola-bucket: cartola-dev
    deployment-bucket: palpiteiro-dev
provider:
  name: aws
  stage: ${opt:stage}
  deploymentBucket:
    name: ${param:deployment-bucket}
package:
  individually: true
  patterns:
    - "!**/*"
    - "utils/**/*.py"
functions:
  draft:
    handler: lambda_draft.handler
    description: Line up drafting for fantasy soccer.
    runtime: python3.9
    timeout: 5 # seconds
    memorySize: 2048 # megabytes
    package:
      patterns:
        - "lambda_draft/**/*.py"
        - "!lambda_draft/tests/**/*"
        - "!lambda_draft/notebooks/**/*"
  extract-cartola-players:
    handler: lambda_extract_cartola_players.handler
    description: Extract players data from Cartola FC to JSON.
    runtime: python3.9
    role:
      { "Fn::Sub": "arn:aws:iam::${AWS::AccountId}:role/palpiteiro-scraper" }
    package:
      patterns:
        - "lambda_extract_cartola_players/*.py"
    environment:
      BUCKET: ${param:cartola-bucket}
  transform-cartola-players:
    handler: lambda_transform_cartola_players.handler
    description: Transform players data from Cartola FC from JSO to CSV.
    runtime: python3.9
    role:
      { "Fn::Sub": "arn:aws:iam::${AWS::AccountId}:role/palpiteiro-scraper" }
    package:
      patterns:
        - "lambda_transform_cartola_players/*.py"
    layers:
      - { Ref: PandasLambdaLayer }
  extract-cartola-matches:
    handler: lambda_extract_cartola_matches.handler
    description: Extract matches data from Cartola FC to JSON.
    runtime: python3.9
    role:
      { "Fn::Sub": "arn:aws:iam::${AWS::AccountId}:role/palpiteiro-scraper" }
    package:
      patterns:
        - "lambda_extract_cartola_matches/*.py"
    environment:
      BUCKET: ${param:cartola-bucket}
  transform-cartola-matches:
    handler: lambda_transform_cartola_matches.handler
    description: Transform matches data from Cartola FC from JSON to CSV.
    runtime: python3.9
    role:
      { "Fn::Sub": "arn:aws:iam::${AWS::AccountId}:role/palpiteiro-scraper" }
    package:
      patterns:
        - "lambda_transform_cartola_matches/*.py"
    layers:
      - { Ref: PandasLambdaLayer }
  load:
    handler: lambda_load.handler
    description: Load CSV into the database.
    runtime: python3.9
    role:
      { "Fn::Sub": "arn:aws:iam::${AWS::AccountId}:role/palpiteiro-scraper" }
    package:
      patterns:
        - "lambda_load/*.py"
        - "lambda_load/*.crt"
    layers:
      - { Ref: PandasLambdaLayer }
      - { Ref: CockroachdbLambdaLayer }
    environment:
      USER: ${env:USER}
      PASSWORD: ${env:PASSWORD}
      HOST: ${env:HOST}
      DATABASE: ${env:DATABASE}
      PORT: ${env:PORT}
      OPTIONS: ${env:OPTIONS}
      PGSSLROOTCERT: lambda_load/root.crt
layers:
  cockroachdb:
    package:
      artifact: layer_cockroachdb.zip
  pandas:
    package:
      artifact: layer_pandas.zip
stepFunctions:
  stateMachines:
    extract-cartola-players-stepfunc:
      name: extract_cartola_players
      events:
        - schedule: rate(1 hour)
      alarms:
        topics:
          alarm: { Ref: SNSTopic }
        metrics:
          - executionsTimedOut
          - executionsFailed
          - executionsAborted
          - executionThrottled
      definition:
        StartAt: ExtractCartolaPlayers
        States:
          ExtractCartolaPlayers:
            Type: Task
            Resource:
              Fn::GetAtt: [extract-cartola-players, Arn]
            Next: TransformCartolaPlayers
          TransformCartolaPlayers:
            Type: Task
            Resource:
              Fn::GetAtt: [transform-cartola-players, Arn]
            Next: Load
            ResultSelector:
              uri.$: "$.uri"
              table: atletas
              schema: cartola
              subset:
                - temporada_id
                - rodada_id
                - atleta_id
          Load:
            Type: Task
            Resource:
              Fn::GetAtt: [load, Arn]
            End: true
    extract-cartola-matches-stepfunc:
      name: extract_cartola_matches
      events:
        - schedule: rate(1 hour)
      alarms:
        topics:
          alarm: { Ref: SNSTopic }
        metrics:
          - executionsTimedOut
          - executionsFailed
          - executionsAborted
          - executionThrottled
      definition:
        StartAt: ExtractCartolaMatches
        States:
          ExtractCartolaMatches:
            Type: Task
            Resource:
              Fn::GetAtt: [extract-cartola-matches, Arn]
            Next: TransformCartolaMatches
          TransformCartolaMatches:
            Type: Task
            Resource:
              Fn::GetAtt: [transform-cartola-matches, Arn]
            Next: Load
            ResultSelector:
              uri.$: "$.uri"
              table: partidas
              schema: cartola
              subset:
                - partida_id
          Load:
            Type: Task
            Resource:
              Fn::GetAtt: [load, Arn]
            End: true
resources:
  Resources:
    SNSTopic:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: ${self:service}-${opt:stage}
        Subscription:
          - Protocol: email
            Endpoint: matheusccouto@gmail.com
plugins:
  - serverless-step-functions
